<div class="navbar navbar-expand-lg navbar-dark bg-primary footer">

<div>
  <img src="../../assets/dnd-beyond-logo.svg" alt="D&D Beyond" class="beyond-logo">
</div>

<ul>
  <li class="text-muted font-weight-bold small">QUICK LINKS</li>  
  <li><a href="" class="text-light font-weight-bold">COMPENDIUM</a></li>
  <li><a href="" class="text-light font-weight-bold">BUILDER</a></li>
  <li><a href="" class="text-light font-weight-bold">CHARACTERS</a></li>
  <li><a href="" class="text-light font-weight-bold">CHANGELOG</a></li>  
</ul>

<ul>
  <li class="text-muted font-weight-bold small">SUPPORT</li>
  <li><a href="" class="text-light font-weight-bold">FAQ</a></li>
  <li><a href="" class="text-light font-weight-bold">SUPPORT FORUM</a></li>
  <li><a href="" class="text-light font-weight-bold">CONTACT US</a></li>  
</ul>

<ul>
  <li class="text-muted font-weight-bold small">FOLLOW US</li>
  <li><a href="" class="text-light font-weight-bold">TWITTER</a></li>
  <li><a href="" class="text-light font-weight-bold">FACEBOOK</a></li>
  <li><a href="" class="text-light font-weight-bold">YOUTUBE</a></li>
  <li><a href="" class="text-light font-weight-bold">TWITCH</a></li>  
</ul>


</div>

<div class="navbar navbar-expand-lg navbar-dark bg-dark about">
</div>