<div class="navbar navbar-expand-lg navbar-dark bg-primary footer">
<ul>
  <li class="text-muted font-weight-bold small">QUICK LINKS</li>
  <li class="text-light font-weight-bold">COMPENDIUM</li>
  <li class="text-light font-weight-bold">BUILDER</li>
  <li class="text-light font-weight-bold">CHARACTERS</li>
  <li class="text-light font-weight-bold">CHANGELOG</li>
</ul>

<ul>
  <li class="text-muted font-weight-bold small">SUPPORT</li>
  <li class="text-light font-weight-bold">FAQ</li>
  <li class="text-light font-weight-bold">SUPPORT FORUM</li>
  <li class="text-light font-weight-bold">CONTACT US</li>  
</ul>

<ul>
  <li class="text-muted font-weight-bold small">FOLLOW US</li>
  <li class="text-light font-weight-bold">TWITTER</li>
  <li class="text-light font-weight-bold">FACEBOOK</li>
  <li class="text-light font-weight-bold">YOUTUBE</li>
  <li class="text-light font-weight-bold">TWITCH</li>
</ul>

</div>

<div class="navbar navbar-expand-lg navbar-dark bg-dark about">
</div>