<nav class="navbar navbar-expand-lg navbar-dark bg-dark bannerMenu">
  <a class="navbar-brand logo" href=""></a>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">

      <li *ngFor="let menu of menus" class="nav-item dropdown" (mouseover)="onCategory(menu)"
        (mouseout)="onCategory(null)">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{menu}}
        </a>
      </li>
      
    </ul>
  </div>
</nav>

<app-dynamic-nav (mouseover)="onMenu(true)" (mouseout)="onMenu(false)" [openMenu]="openMenu"></app-dynamic-nav>

