.logo {
    background-image: url("../../assets/dnd-beyond-logo.svg");    
    background-repeat: no-repeat;
    width: 10rem;
    height: 3rem;
}

@media only screen and (max-width: 996px) {

    .logo {
        width: 8rem;
        height: 2rem;
    }
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.navbar {
    margin: 0 auto;    
}

.bannerMenu {
    border-bottom: 1px solid #47d18c
}