.home-content {
    background-image: url('../../assets/fighterhero.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    /* height: 550px;     */
}


.article-layout {
  padding-top: 96px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 450px 400px 300px 300px;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  /* align-items: end; */  
}

.article-layout {
  overflow: hidden;
}

.featured-article {
  grid-column: span 3;
  grid-row-end: span 1;
  margin-bottom: 50px;
  align-self: end;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: unset;
  box-shadow: unset;
  color: white;
}

.featured-video {
  grid-column: span 3;
  grid-row-end: span 1;
  overflow: visible;
}

.featured-article a {
  display: none;
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
}

.top-articles {  
  grid-column: span 3;
  grid-row-end: span 1;
  background-color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top-articles a {
  display: block;
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
}

.past-articles {
  grid-column: span 2;
  grid-row-end: span 1;
  background-color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
}
 
.past-articles a {
  display: block;
  height: 140px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
}

main {
  /* background-image:  */
  background: #f9f9f9 url('../../assets/background_texture.png');
  background-position-x: center;  
  width: 100vw;
  max-width: 100%;  
  /* overflow-x: hidden; */
}


iframe {  
  border: 1px solid black;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  /* position: absolute; */
  /* right: 0; */
  /* top: 50%; */
  /* transform: translate(0, -50%); */
  /* margin-top: -15px; */
  /* margin-right: 10vw; */  
  float: right;
  margin-top: 96px;
}



@media (max-width: 796px) {
  .featured-video {
    display: none;
  }

 .article-layout {      
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 300px 300px 300px repeat(4, 200px);
   grid-column-gap: 15px;
   grid-row-gap: 15px;
   margin-left: 10px;
   margin-right: 10px;
 }

.featured-article,
.top-articles,
.past-articles {
  grid-column: span 2;
 }

 .featured-article a,
 .top-articles a,
 .past-articles a {   
   height: 100px;
   display: block; 
 }

 .featured-article {
   color: #212529;
   background-color: #fff;
   box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
 }
}