<div class="bg-primary dynamic-nav" *ngIf="openMenu">
  <div class="dn-container">
    <div *ngIf="openMenu==='Creations'" class="dn-grid-group">
      <div class="dn-grid-group dn-grid-cards">
        <a href="" class="dn-button rounded"> <img src="../../../assets/menu/characters.jpg"></a>
        <a href="" class="dn-button rounded"> <img src="../../../assets/menu/campaigns.jpg"></a>
        <a href="" class="dn-button-lg rounded"> <img src="../../../assets/menu/encounters.jpg"></a>
        <a href="" class="dn-button rounded"> <img src="../../../assets/menu/homebrew.jpg"></a>
        <a href="" class="dn-button rounded"> <img src="../../../assets/menu/creations.jpg"></a>
      </div>
    </div>

    <div *ngIf="openMenu==='Tools'" class="dn-grid-group">
        <a href="" class="dn-button-full rounded"> <img src="../../../assets/menu/characters.jpg"></a>
        <a href="" class="dn-button-full rounded"> <img src="../../../assets/menu/campaigns.jpg"></a>
        <a href="" class="dn-button-full rounded"> <img src="../../../assets/menu/campaigns.jpg"></a>        
    </div>

    <div *ngIf="openMenu==='Marketplace'" class="dn-grid-group">
      <a href="" class="dn-button-full rounded"> <img src="../../../assets/menu/characters.jpg"></a>
      <a href="" class="dn-button-full rounded"> <img src="../../../assets/menu/campaigns.jpg"></a>      
    </div>

  </div>
</div>